EMBEDDING_MODEL_NAME=text-embedding-3-small
EMBEDDING_DEPLOYMENT_NAME=text-embedding-3-small
EMBEDDING_API_VERSION=2024-02-01
# Copy this file to .env and fill in your actual values
ENDPOINT_URL=
DEPLOYMENT_NAME_GPT_4_Nano=gpt-4.1-nano
AZURE_OPENAI_API_KEY=
API_VERSION=2024-12-01-preview
DEPLOYMENT_NAME_GPT_4=gpt-4o
DEPLOYMENT_NAME_GPT_4_mini=gpt-4o-mini

STORAGE_ACCOUNT_NAME=
STORAGE_ACCOUNT_CONTAINER_NAME=
STORAGE_ACCOUNT_CONNECTION_STRING=